{% load thumbnail %}
  <div class="row">
    {% for images in cols.values %}
      <div class="column">
        {% for image in images %}
          {% thumbnail image.image 300x0 as im %}
          <a href="{{ image.get_absolute_url }}">
            <img src="{{ im.url }}" alt="">
          </a>
          <div class="info">
            <a href="{{ image.get_absolute_url }}" class="title">
              {{ image.title|truncatewords:5 }}
            </a>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
